#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.treemap-node-2 rect {
  /* fill: #8884d8; Color base - Morado suave de Recharts */
  transition: fill 0.3s ease; /* Transición suave al hacer hover */
}
.treemap-container {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.treemap-container:hover {
  background-color: #eaeaea; /* Color de fondo al pasar el mouse */
}
/* .treemap-node:hover rect {
  /* fill: #6a65b7; Color un poco más oscuro al pasar el mouse
} */
/* .treemap-node-1{
  fill: #F2622E;
} */
.treemap-node{
  fill: #F2A900;
}
.treemap-label {
  font-family: sans-serif; /* O la fuente que uses */
  pointer-events: none; /* Para que el texto no interfiera con el hover del rectángulo */
}


/* Opcional: Colores específicos por categoría (necesitarías añadir clases dinámicas en RenderTreeMapNode) */
.treemap-node-Cicloparquederos rect { fill: #8dd1e1; } */
.treemap-node-Presupuesto-Participativo rect { fill: #82ca9d; } */
/* ... etc ... */

.chart-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Misma altura que el gráfico */
    color: #888;
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
}
/* .treemap-node-Cicloparquederos {
  fill: #8dd1e1; /* Color específico para Cicloparquederos
} */